NODE_ENV=development
SERVICE_NAME=scheduler-service
PORT=3002
MONGO_URI=mongodb://localhost:27017/scheduler-db
CRON_INTERVAL=*/10 * * * * *
RETRY_LIMITS=3
KAFKA_TOPIC=events
KAFKA_CLIENT_ID=scheduler-service
KAFKA_BROKER=localhost:9092
JOB_TIMEOUT_MS=60000
OTEL_TRACING_ENABLED=false
OTEL_SERVICE_NAME=scheduler-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
